<div class="main-content">
	<div class="col-md-12">
        <div class="card">
            <form [formGroup]="form" class="form-horizontal">
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Configuración</h4>
                </div>
                <div class="card-content">
                	<div class="row">
                        <label class="col-sm-2 label-on-left">Encoding</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(form, 'encoding')">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" id="encoding" formControlName="encoding">
                                <div *ngIf="isFieldValid(form, 'encoding')">
									<span class="sr-only">(error)</span>
									<div class="error-msg">
										Required text
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                	<div class="row">
                        <label class="col-sm-2 label-on-left">Max upload</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(form, 'maxUpload')">
                                <label class="control-label"></label>
                                <input class="form-control" type="number" number="true" id="maxUpload" formControlName="maxUpload">
                                <div *ngIf="isFieldValid(form, 'maxUpload')" >
									<span class="sr-only">(error)</span>
									<div class="error-msg">
										Add a number!
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-rose btn-fill" (click)="onType()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>