<div class="col-xs-12 text-left" style="margin-bottom: 10px;">
	<fieldset>
		<legend translate>documentProperties.title</legend>
		<table style="margin-top: 10px;margin-left: 5px;">
			<tbody>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>documentProperties.class</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">documento</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>documentProperties.documentTitle</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">
						<input type="text" class="form-control" [(ngModel)]="docTitle">
					</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>documentProperties.employeeNumber</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">123456</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>documentProperties.department</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">
						<select class="form-control"></select>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</div>