<div class="col-xs-12 text-left" style="margin-bottom: 10px;">
	<fieldset>
		<legend translate>versionHistory.title</legend>
		<table style="margin-top: 10px;margin-left: 5px;">
			<thead>
				<th class="col-xs-2" style="padding-left: 0px;padding-right: 10px;">
					<label translate>versionHistory.version</label>
				</th>
				<th class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">
					<label translate>versionHistory.author</label>
				</th>
				<th class="col-xs-4" style="padding-left: 10px;padding-right: 0px;">
					<label translate>versionHistory.date</label>
				</th>
				<th class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">
					
				</th>
			</thead>
			<tbody>
				<tr>
					<td style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">1</td>
					<td style="padding-bottom: 10px;padding-right: 0px;">Alexis Gallardo</td>
					<td style="padding-bottom: 10px;padding-left: 10px;padding-right: 0px;">02/11/2017 15:22</td>
					<td style="padding-bottom: 10px;padding-right: 0px;">
						<button type="button" class="btn btn-primary btn-xs">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-primary btn-xs">
							<i class="fa fa-undo" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</div>