<div class="col-xs-12 text-left">
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">description</i>
        </div>
        <h4 class="card-title" style="margin-top: 10px;margin-bottom: 15px;">Propiedades de documento</h4>
		<table *ngIf="metadata!==null">
			<tbody>
				<tr>
					<td class="col-xs-5" style="padding-left: 10px;padding-right: 0px;">
						<label>Clase documental</label> 
					</td>
					<td class="col-xs-7" style="padding-right: 0px;">
						<div class="form-group" style="margin-top: 0px;">
				            <select class="form-control" [(ngModel)]="claseDocumental" (ngModelChange)="setDocClass()" style="width: 152px;">
				            	<ng-container *ngFor="let row of lstClase">
				            		<option *ngIf="showOption(row.id)" [ngValue]="row">
					                    {{row.label}}
					                </option>
				            	</ng-container>
				            </select>
				        </div>
					</td>
				</tr>
				<tr *ngFor="let row of fields; let i = index" [hidden]="fields===null">
					<td class="col-xs-5" style="padding-left: 10px;padding-right: 0px;">
						<label translate>{{row.label}}</label>
					</td>
					<td class="col-xs-7" style="padding-right: 0px;">
						<div class="form-group" style="margin-top: 0px;">
							<input type="text" class="form-control" *ngIf="row.type==='String'" [(ngModel)]="metadata[0].properties[fields[i].name]">
							<div *ngIf="row.type==='DateTime'" style="width: 203px;">
		                        <mat-datepicker-toggle matSuffix [for]="resultPicker">
		                        </mat-datepicker-toggle>
		                        <mat-input-container>
		                            <input matInput
		                                [matDatepicker]="resultPicker"
		                                placeholder="Pick a day">
		                        </mat-input-container>
		                        <mat-datepicker
		                            #resultPicker
		                            [touchUi]="touch"
		                            [startView]="'month'">
		                        </mat-datepicker>
		                    </div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>