<div class="main-content">	

	
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="orange">
				<i class="material-icons">equalizer</i>
			</div>
			<div class="card-content">
				<p class="category">Contratos a la fecha</p>
				<h3 class="card-title">184</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">update</i> Just Updated
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="rose">
				<i class="material-icons">equalizer</i>
			</div>
			<div class="card-content">
				<p class="category">Contratos Hoy</p>
				<h3 class="card-title">14</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">update</i> Just Updated
				</div>
			</div>
		</div>
	</div>


	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="green">
				<i class="material-icons">equalizer</i>
			</div>
			<div class="card-content">
				<p class="category">Contratos PostPago</p>
				<h3 class="card-title">6</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">update</i> Just Updated
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="blue">
				<i class="material-icons">equalizer</i>
			</div>
			<div class="card-content">
				<p class="category">Contratos Prepago</p>
				<h3 class="card-title">8</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">update</i> Just Updated
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
			<div class="card">
				<form method="get" action="/" class="form-horizontal">
					<div class="card-header card-header-text" data-background-color="rose">
						<h4 class="card-title">Formas</h4>
					</div>
					<div class="card-content">

						<div class="row">
							<label class="col-sm-2 label-on-left">Seleccione un contrato:</label>
                            <div class="col-sm-10 checkbox-radios">
								
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" checked="true">
										Post Pago Móvil - Credit Limit
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" checked="true">
										Post Pago Móvil - Regular
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" checked="true">
										Post Pago Móvil - Update
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" checked="true">
										Post Pago Móvil - BYOP/CreditLimit
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios">
										Prepago
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios">
										FWA
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios">
										Compra Equipos
									</label>
								</div>
                            </div>
                        </div>
					</div>
					<div class="row">
                        	<label class="col-md-3"></label>

							<div class="col-md-9">
								<div class="form-group form-button">
	                            	<button type="submit" class="btn btn-fill btn-rose">Iniciar</button>
	                        	</div>
	                    	</div>
						</div>
				</form>
			</div>
		</div>
	
	<ng-container *ngIf="template==='portal'">
		<div class="col-md-12" *ngFor="let search of lstStoredSearch">
	        <div class="card">
	            <div class="card-header card-header-icon" data-background-color="rose">
	                <i class="material-icons">search</i>
	            </div>
	            <div class="card-content">
	                <h4 class="card-title">{{search.info.name}}</h4>
	                <div class="col-xs-12" style="padding:0;margin-bottom:10px;">
	                	<div class="col-xs-12" style="padding: 0;" *ngFor="let criteria of search.criteria">
		                    <div class="col-sm-2 text-right" style="padding-right: 0px;">
		                        <h5 style="margin-top: 15px;">{{criteria.label}}</h5>
		                    </div>
		                    <div class="col-sm-10">
		                        <div class="form-group" style="margin-top: 8px;">
		                            <input type="text" class="form-control" [(ngModel)]="criteria.value[0]">
		                        </div>
		                    </div>
		                </div>
	                </div>
	                <div class="col-xs-12 text-right">
	                	<button class="btn btn-rose" (click)="executeSearch(search)">Buscar</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</ng-container>
	<ng-container *ngIf="template==='result'">
		<button class="btn btn-primary" style="margin-left: 10px;" (click)="template='portal';searchResult=null;idDoc=null;">Regresar</button>
		<resultado-busqueda [isPortal]="true" [searchResult]="searchResult" [class]="lstClase" (thumbnail)="thumbnails($event)" (folder)="goToFolderView($event)"></resultado-busqueda>
	</ng-container>
	<ng-container *ngIf="template==='folder'">
		<button class="btn btn-primary" style="margin-left: 10px;" (click)="template='result';idDoc=null;">Regresar</button>
		<folder-viewer [id]="idDoc" [class]="lstClase" (change)="changeId($event)" (thumbnail)="thumbnails($event)" (viewer)="goToDocView($event)"></folder-viewer>
	</ng-container>
	<ng-container *ngIf="template==='viewer'">
		<button class="btn btn-primary" style="margin-left: 10px;" (click)="template='result';idDoc=null;">Regresar</button>
		<documentViewer [idDoc]="idDoc" [lstDoc]="[]"></documentViewer>
	</ng-container>
</div>