<div class="col-xs-12 text-left">
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="green">
            <i class="material-icons">settings</i>
        </div>
        <h4 class="card-title" style="margin-top: 10px;margin-bottom: 15px;">Propiedades de sistema</h4>
        <table *ngIf="systemProperties!==null">
			<tbody>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Versión
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.contentVersion}}.{{systemProperties.metadataVersion}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Tamaño
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.size}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Modificado por
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.modifiedBy}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Modificado el
						</label>
					</td>
					<td class="col-xs-7">{{convertDate(systemProperties.modifiedOn.time)}}</td>
				</tr>				
				<tr>
					<td class="col-xs-5">
						<label translate>
							Añadido por
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.createdBy}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Añadido el
						</label>
					</td>
					<td class="col-xs-7">{{convertDate(systemProperties.createdOn.time)}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label>
							ID
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.id}}</td>
				</tr>
				<tr>
					<td class="col-xs-5">
						<label translate>
							Tipo MIME
						</label>
					</td>
					<td class="col-xs-7">{{systemProperties.mimeType}}</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>