<div class="col-xs-12 text-left" style="margin-bottom: 10px;">
	<fieldset>
		<legend translate>systemProperties.title</legend>
		<table style="margin-top: 10px;margin-left: 5px;">
			<tbody>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.size
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">15kb</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.minorVersion
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">0</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.modifiedAt
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">02/11/2017 15:22</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.mainVersion
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">1</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.modifiedBy
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">Alexis Gallardo</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.addedBy
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">Alexis Gallardo</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.addedAt
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">01/11/2017 18:23</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label>ID</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">ABCD123456</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.currentVersion
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">1</td>
				</tr>
				<tr>
					<td class="col-xs-5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 10px;">
						<label translate>systemProperties.mimeType
						</label>
					</td>
					<td class="col-xs-7" style="padding-bottom: 10px;padding-right: 0px;">pdf</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</div>