<div class="col-xs-12 text-left" style="padding-left: 0px;padding-right: 0px; z-index: 0;">
	<label translate>comments</label>
	<div class="input-group">
	    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
	    <span class="input-group-addon btn btn-primary"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></span>
	</div>
	<div class="inline-form comment">
		<div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
			<div class="col-xs-1" style="padding-left: 0px;margin-top: 10px;">
				<img class="userPic" src="/assets/images/example-pic.jpg">
			</div>
			<div class="col-xs-11" style="margin-top: 10px;right: 5px;padding-left: 10px;">
				<label class="userName">Alexis Gallardo. </label>
				<div style="width: 106%;">
					<label>Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3. Comentario 3.</label>
					<div class="text-right" style="margin-right: 10px;">
						<small>02/11/2017 12:04</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="inline-form comment">
		<div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
			<div class="col-xs-1" style="padding-left: 0px;margin-top: 10px;">
				<img class="userPic" src="/assets/images/example-pic.jpg">
			</div>
			<div class="col-xs-11" style="margin-top: 10px;right: 5px;padding-left: 10px;">
				<label class="userName">Alexis Gallardo. </label>
				<div style="width: 106%;">
					<label>Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2. Comentario 2.</label>
					<div class="text-right" style="margin-right: 10px;">
						<small>02/11/2017 11:47</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="inline-form comment">
		<div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
			<div class="col-xs-1" style="padding-left: 0px;margin-top: 10px;">
				<img class="userPic" src="/assets/images/example-pic.jpg">
			</div>
			<div class="col-xs-11" style="margin-top: 10px;right: 5px;padding-left: 10px;">
				<label class="userName">Alexis Gallardo. </label>
				<div style="width: 106%;">
					<label>Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1. Comentario 1.</label>
					<div class="text-right" style="margin-right: 10px;">
						<small>02/11/2017 11:38</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>