<div class="col-xs-12 text-left">
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">schedule</i>
        </div>
        <h4 class="card-title" style="margin-top: 10px;margin-bottom: 15px;">Historial de versiones</h4>
    	<table *ngIf="historial!==null" style="margin-bottom: 10px;">
			<thead>
				<th class="col-xs-1">
					<label translate>
						Versión
					</label>
				</th>
				<th class="col-xs-2">
					<label translate>
						Autor
					</label>
				</th>
				<th class="col-xs-4">
					<label translate>
						Fecha
					</label>
				</th>
				<th class="col-xs-5">
					
				</th>
			</thead>
			<tbody>
				<tr *ngFor="let row of historial; let i = index">
					<td class="text-center">
						1
					</td>
					<td>
						{{row.createdBy}}
					</td>
					<td style="padding-right: 5px;">
						{{convertDate(row.createdOn.time)}}
					</td>
					<td>
						<div *ngIf="i!==0">
							<button type="button" class="btn btn-rose btn-xs">
								<i class="material-icons">visibility</i>
							</button>
							<button type="button" class="btn btn-rose btn-xs">
								<i class="material-icons">replay</i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>